.arena-div {
  text-align: center;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  padding: 20px;
  justify-content: center;
  position: relative;
}

.user-div {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  color: #5fa8d3;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7rem;
  padding: 10px;
}

.user-div img {
  width: 30px;
}

.user-div-container {
  width: 720px;
  display: flex;
  margin-right: auto;
}

.moves,
.chat {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.moves li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 5px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.moves li span:nth-child(1) {
  color: #5fa8d3;
  background: white;
  font-size: 1.3rem;
}

.moves li span:nth-child(2) {
  font-size: 0.7rem;
}

.chat li {
  width: 90%;
  margin: 5px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat li span:nth-child(1) {
  color: #5fa8d3;
  background: white;
  font-size: 1.3rem;
}

.load-fen-div {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.load-fen-div .game-btn {
  padding: 20px;
}

.fen-div {
  display: flex;
}

.fen-div button {
  margin: 10px;
  font-size: 1.5rem;
}

.fen-div button:hover {
  background: white;
  color: #5fa8d3;
}

.fen-input {
  border: none;
  padding: 10px 20px;
  width: 500px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-family: "Poppins";
  font-weight: bolder;
  outline: none;
  box-shadow: 5px 5px 0px white;
  color: #5fa8d3;
}
